body { 
	background: url(images/city-saturated-dark-6.5.jpeg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	color: white;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	margin: auto;
}

.Container {
	border: 1px solid white;
	height: 100vw;
}

.Page {
	margin-left: 2vw;
	margin-right: 2vw;
	height: 50vw;
	border: 1px solid red;
}

.OpeningHeader {
	margin-top: 6vw;
	font-weight: bold;
	font-size: 7vw;
	position: relative;
	/* margin: auto; */
	/* height: 30vw; */
	border: 1px solid blue;
}

.Continue {
	font-size: 4vw;
	position: relative;
	opacity: 0;
	animation: fadein 3s ease 12s 1 forwards;
	-webkit-animation: fadein 3s ease 12s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s ease 12s 1 forwards; /* Firefox < 16 */
    -ms-animation: fadein 3s ease 12s 1 forwards; /* Internet Explorer */
	-o-animation: fadein 3s ease 12s 1 forwards; /* Opera < 12.1 */
	/* margin: auto; */
	margin-top: 5vw;
	border: 1px solid turquoise;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.DictionaryCheck {
	border: 3px solid green;
	position: relative;
	font-size: 2vw;
	margin-top: 10vw;
	
}

.DictionaryCheck input {
	font-size: 3vw;
	width: 90%;
}

@media screen and (max-width: 1000px) {
	.Container {
		height: 200vw;
	}

	.Page {
		height: 100vw;
	}

	.OpeningHeader {
		font-size: 12vw;
	}

	.Continue {
		font-size: 8vw;
	}

	.DictionaryCheck {
		font-size: 4vw;
	}

	.DictionaryCheck input {
		font-size: 6vw;
	}
}